.NavbarItems{
  /* Background */
  background: gray;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo{
  color:white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  
}

.fa-record-vinyl{
  font-size: 1.3rem;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links{
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover{
  background-color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-user{
  color: white;
  margin-left: 10px;
}

.navbar-button{
  font-size: 0.9rem;
}
/*----------------------SEARCHBAR------------------------------*/
.searchbarInput {
  margin-top: 1px;
  
}

.searchbar input {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 12px 3px black;
  overflow: hidden;
  overflow-y: auto;
}

.searchResult {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  
}

.dataResult::-webkit-scrollbar {
  display: none;
}
  
/*
.menu-icon{
  display: none;
}
*/
/*
@media screen and (max-width: 960px){
  .NavbarItems{
      position: relative;
  }

  .nav-menu{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 500px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
  }

  .nav-menu.active{

  }
}
*/
/*
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
*/
/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/